*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background: rgb(8, 8, 71);
    
}
header{
    display: flex;
    justify-content: flex-end;
    background:rgba(0, 0, 0, 0.637);
    height: 10vh;
    border-radius: 15px;
}
header input{
    color: black;
    padding: 2rem;
    width:30rem ;
    margin: 10px    ;
    border-radius: 15px;
    border: none;
    background-color: rgba(216, 207, 207, 0.39);    

}



.movie{
display: flex;
flex-direction: column;
width: 20%;
border: 2px solid whitesmoke;
position: relative;

}
.movie:hover{
    animation-name: mor;
    animation-duration: 2s;

}
/* @keyframes mor{
    from{
   transform:    scale(1);
   transform: rotate(45deg);
    }
to{
  transform:   scale(1);
  transform: rotate(360deg);

}
} */
.movie img{
    width: 100%;
    height:80%;
}
.div-mov{
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.945);
    color: aliceblue;
    height: 6vh;
    justify-content: space-around;
    
}
.div-mov span{
    background: rgb(8, 8, 71);
}
.overview{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    max-height: 100%;
    background-color: rgba(240, 255, 255, 0.74);
    transform: translateY(101%);
    transition:all 2s ease-in-out;
    visibility: hidden;
   

}
.movie:hover .overview{
    transform: translateY(0);
    visibility: visible;
    
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}